wp-content/fonts/*
wp-content/plugins/advanced-query-loop*
wp-content/plugins/akismet*
wp-content/plugins/auto-sizes*
wp-content/plugins/awesome-calendar-events*
wp-content/plugins/create-block-theme*
wp-content/plugins/dominant-color-*
wp-content/plugins/embed-optimizer*
wp-content/plugins/hello.php
wp-content/plugins/jsm-show-post-meta*
wp-content/plugins/image-prioritizer*
wp-content/plugins/muslim-prayer-times*
wp-content/plugins/optimization-detective*
wp-content/plugins/masjid-app/vendor/
/vendor/
.phpunit.cache/
wp-content/plugins/performance*
wp-content/plugins/performant*
wp-content/plugins/plugin-check/*
wp-content/plugins/speculation-rules*
wp-content/plugins/updraftplus*
wp-content/plugins/webp-uploads*
wp-content/plugins/wp-cfm*
wp-content/plugins/wp-mail*
wp-content/plugins/wpforms-lite*
wp-content/plugins/the-events-calendar*
wp-content/themes/twenty*
wp-content/themes/frost/*
wp-content/uploads*
wp-content/upgrade*
wp-content/updraft*
wp-content/object-cache.php
wp-content/debug.log

/dist/
.DS_Store